/* .header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__logo{
    flex: 1;
}

.header__mainNav{
    flex: 2;
    display: flex;
}

.header__mainNav nav{
    width: 100%;
    max-width: 1080px;
}

.header__mainNav nav ul{
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__socialIcons{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}