@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.header-logo{
  display: flex;
  flex: 1;
}

.logo-wrapper {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 1rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 50rem;
  width: calc(50vw - 2.5rem);
}

footer {
  margin: 1rem 0;
}

.footer-message {
  text-align: center;
  border-top: 1px solid #eaeaea;
  padding: 1rem 0;
}

header .wrapper {
  justify-content: space-around;
  display: flex;
  border-bottom: 1px solid #eaeaea;
}

@media (max-width: 900px) and (min-width: 401px){
  .wrapper {
    max-width: 60rem;
    width: calc(80vw - 2.5rem);
  }
}

@media (max-width: 400px) {
  .wrapper {
    max-width: 80rem;
    width: calc(100vw - 2.5rem);
  }
}